:root {
    --font-family: 'Inter', sans-serif;
    --titulo-color: #000000;
    --tarja-color: #ffffff;
    --text-color: #828282;
    --primary-color: #2e245e;
    --terciary-color: #f5f5f5;
    --secundary-color: #6b54de;
  }
  
  body {
    font-family: var(--font-family);
    width: 100%;
  }
  
  header {
    background-color: var(--terciary-color);
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  header h1 {
    font-size: 2em;
    font-weight: 700;
    color: var(--titulo-color);
    margin-top: 0.2rem;
  }
  
  header span {
    color: var(--secundary-color);
  }
  
  .navi__mobile {
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
  
  .navi ul {
    display: none;
  }
  
  figcaption {
    display: none;
  }
  .logo{
    width: 182px;
    position: fixed;
    top: 12px;
    left: 22px;}
  
  .estoque {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cartaoGrupo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
  
  .cartaoGrupo__cartao {
    width: 18em;
    height: 22rem;
    box-sizing: border-box;
    border: 2px solid var(--terciary-color);
    margin-bottom: 1em;
  }
  
  .cartaoGrupo__cartao:last-child {
    margin-bottom: 0;
  }
  
  .cartao__imagem {
    width: 100%;
    background-color: #F5F5F5;
    height: auto;
  }
  
  .cartao__imagem img {
    width: 17.85em;
    height: 11em;
  }
  
  .cartao__marcador {
    font-weight: 400;
    color: var(--tarja-color);
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: var(--primary-color);
    width: 5.8em;
    height: 1.2rem;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    margin-left: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .marcador__goro {
    width: 5.5em;
  }
  
  .cartao__marcador p {
    text-align: center;
  }
  
  .cartao__nomeItem {
    /* width: 20em; */
    margin-bottom: 1em;
    margin-left: 0.9em;
  }
  
  .cartao__nomeItem p span {
    font-weight: 700;
    font-size: 1.1em;
    color: var(--titulo-color);
  }
  
  .cartao__descricaoTexto {
    width: 17em;
    margin-bottom: 1em;
    margin-left: 0.9em;
  }
  
  .cartao__descricaoTexto p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1rem;
    color: var(--text-color);
  }
  
  .cartao__preco {
    width: 17em;
    height: 1em;
    margin-bottom: 1em;
    margin-left: 1.1em;
  }
  
  .cartao__preco p {
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1rem;
    color: var(--primary-color);
  }
  
  .cartao_carrinhoCompras button {
    font-size: 0.9em;
    line-height: 1rem;
    margin-left: 1.1em;
    color: var(--text-color);
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
  }
  
  .area__pesquisaCarrinho {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pesquisa__area {
    width: 18em;
    margin-bottom: 1.5em;
  }
  
  .input__pesquisa {
    box-sizing: border-box;
    width: 13.8em;
    height: 3.2em;
    background-color: var(--terciary-color);
    color: var(--text-color);
    border: 0;
    padding-left: 0.5em;
  }
  
  .button__pesquisa {
    width: 7.2em;
    height: 3.2em;
    background-color: var(--secundary-color);
    color: var(--tarja-color);
    border: 0;
  }
  
  .carrinhoCompras {
    width: 18em;
  }
  
  .carrinho__titulo {
    height: 4em;
    width: 17.9em;
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .carrinho__titulo p {
    color: var(--tarja-color);
    font-weight: 700;
    font-size: 1.125em;
    text-align: center;
  }
  
  .carrinho__corpo {
    width: 18em;
    height: 20em;
    background-color: var(--terciary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .quantidade__produtos {
    font-weight: 700;
    font-size: 1.375em;
    color: var(--titulo-color);
    text-align: center;
  }
  
  .mais__produtos {
    font-weight: 400;
    font-size: 0.875em;
    color: var(--text-color);
    text-align: center;
    margin-top: 0.5em;
  }

@media (min-width: 1150px) {
    header {
      height: 3em;
      display: flex;
      justify-content: space-between;
    }
  
    .logo{
      width: 182px;
      position: fixed;
      top: 12px;
      left: 22px;
    }
  
    .navi {
      margin-right: 3em;
    }
  
    .navi__mobile {
      display: none;
    }
  
    .navi ul {
      display: inherit;
      display: flex;
    }
  
    .navi li {
      margin-right: 1em;
      margin-top: 0.8em;
    }
  
    .navi li a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 1rem;
    }
  
    .navi li a:hover {
      color: var(--secundary-color);
    }
  
    .navi li:last-child a {
      margin-right: 0;
    }
  
    .navi li:first-child a {
      color: var(--titulo-color);
      font-weight: 600;
    }
  
    .estoque {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  
    .cartao__section {
      margin-right: 0;
    }
  
    .cartaoGrupo {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .cartaoGrupo__cartao {
      width: 19em;
      height: 22rem;
      margin-bottom: 2em;
      margin-left: 6em;
    }
  
    .cartaoGrupo__cartao:hover {
      border: 2px solid var(--secundary-color);
    }
  
    .cartao__imagem {
      width: 100%;
      background-color: #F5F5F5;
    }
  
    .cartao__imagem img {
      width: 15.75em;
      height: 10em;
    }
  
    .cartao__nomeItem p span {
      font-size: 1em;
    }
  
    .cartao_carrinhoCompras:hover {
      background-color: var(--secundary-color);
    }
  
    .cartao_carrinhoCompras button:hover {
      background-color: var(--secundary-color);
      color: var(--terciary-color);
      text-decoration: none;
    }
  
    .area__pesquisaCarrinho {
      width: 20%;
      margin-right: 4.5em;
      margin-top: 2em;
    }
  
    .button__pesquisa {
      width: 7.2em;
    }
  }